.fondo{
    background-image:url(img/bg-intro-desktop.png);
    
    
   

    
}
.clase1{
    background-color: purple;
    height: 50px;
    width: 400px;
    margin-left: 950px;
    margin-top: 120px;
    margin-bottom: 10px;
    margin-right: 50px;
    
 
    
}
.clase2{
    background-color: white;
    height: 350px;
    width: 400px;
    margin-left: 950px;
    margin-bottom: 210px;
    

   }
.border{
   background-color: indianred;
  

}
